.site-list {
  font-weight: 700;
}

.site-list__item {
  padding-top: 53px;
  padding-right: 29px;
  padding-bottom: 15px;

  &:last-child {
    padding-right: 0;
  }
}

.site-list__link--current {
  color: #a7d2db;
}
