@font-face {
  font-weight: 100;
  font-family: "PF DinDisplay Pro";
  font-style: normal;

  src: url("../fonts/pfdindisplaypro-thin.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "PF DinDisplay Pro";
  font-style: normal;

  src: url("../fonts/pfdindisplaypro-reg.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "PF DinDisplay Pro";
  font-style: normal;

  src: url("../fonts/pfdindisplaypro-med.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PF DinDisplay Pro";
  font-style: normal;

  src: url("../fonts/pfdindisplaypro-bold.woff2") format("woff2");
}
